div.consoleContainer {
    position: fixed;
    bottom: -32.5%;
    right: 2%;
    width: calc(100% - 40%);
    height: 31.5%;
    background: rgba(0, 0, 0, 0.6);
    border-top: 3px solid #01bd7d;
    border-right: 3px solid #01bd7d;
    border-left: 3px solid #01bd7d;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.consoleMain {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    margin: auto;
    margin-top: 2px;
    color: #00ffa8;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Inconsolata';
}

div.consoleHandler {
    position: absolute;
    right: 6%;
    top: -52px;
    width: 50px;
    height: 50px;
    background-color: #01bd7d;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    cursor: pointer;
}

div.consoleHandler span {
    display: block;
    margin-left: 7px;
    margin-top: 6px;
}

.consoleContainer.openConsole {
    animation: openConsole 1s ease-in-out forwards;
}

.consoleContainer.closeConsole {
    animation: closeConsole 1s ease-in-out forwards;
}

@keyframes openConsole {
    0% {
        bottom: -32%;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes closeConsole {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -32%;
    }
}

/* Width */

@media (min-width:0px) and (max-width:576px) {
    div.consoleContainer {
        position: fixed;
        bottom: -20%;
        right: 2%;
        width: calc(100% - 20%);
        height: 19.5%;
        background: rgba(0, 0, 0, 0.6);
        border-top: 3px solid #01bd7d;
        border-right: 3px solid #01bd7d;
        border-left: 3px solid #01bd7d;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    @keyframes openConsole {
        0% {
            bottom: -20.5%;
        }

        100% {
            bottom: 0px;
        }
    }

    @keyframes closeConsole {
        0% {
            bottom: 0px;
        }

        100% {
            bottom: -20.5%;
        }
    }

}

@media (min-width:577px) and (max-width:768px) {
    div.consoleContainer {
        position: fixed;
        bottom: 10.5%;
        right: 2%;
        width: calc(100% - 25%);
        height: 25.5%;
        background: rgba(0, 0, 0, 0.6);
        border-top: 3px solid #01bd7d;
        border-right: 3px solid #01bd7d;
        border-left: 3px solid #01bd7d;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    @keyframes openConsole {
        0% {
            bottom: -26%;
        }

        100% {
            bottom: 0px;
        }
    }

    @keyframes closeConsole {
        0% {
            bottom: 0px;
        }

        100% {
            bottom: -26%;
        }
    }
}