div.chatContainer {
    height: calc(100% - 100px);
    width: calc(100% - 80%);
    position: fixed;
    bottom: 4%;
    left: calc(-100% + 79.7%);
    background: rgba(0, 0, 0, 0.6);
    border-top: 3px solid #01bd7d;
    border-right: 3px solid #01bd7d;
    border-bottom: 3px solid #01bd7d;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    padding-bottom: 10px;
}

div.chatMain {
    box-sizing: border-box;
    overflow: auto;
    padding-top: 2%;
    padding-bottom: 4%;
    height: calc(100% - 63px);
    width: 100%;
    color: #00ffa8;
}

div.chatMain b {
    display: block;
    padding-left: 2%;
}

form.msgForm {
    display: block;
    padding-left: 40px;
    margin-bottom: 20px;
    height: 0px;
    width: 90%;
}


div.chatHandler {
    position: absolute;
    right: -50px;
    top: 100px;
    width: 50px;
    height: 50px;
    background-color: #01bd7d;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    cursor: pointer;
}

div.chatHandler span {
    display: block;
    margin-left: 10px;
    margin-top: 7px;
}

.chatContainer.openChat {
    animation: openChat 1s ease-in-out forwards;
}

.chatContainer.closeChat {
    animation: closeChat 1s ease-in-out forwards;
}

.chatHandler.openChat {
    animation: buttonBlink 0.5s ease-out forwards;
}


@keyframes openChat {
    0% {
        left: calc(-100% + 79.7%);
    }

    100% {
        left: 0px;
    }
}

@keyframes closeChat {
    0% {
        left: 0px;
    }

    100% {
        left: calc(-100% + 79.7%);
    }
}

@keyframes buttonBlink {
    0% {
        color: #01bd7d;
    }

    100% {
        color: white;
    }
}

/* Width */

@media (max-width:420px) {
    div.chatContainer {
        height: calc(100% - 100px);
        width: calc(100% - 50%);
        position: fixed;
        bottom: 4%;
        left: calc(-100% + 49%);
        background: rgba(0, 0, 0, 0.6);
        border-top: 3px solid #01bd7d;
        border-right: 3px solid #01bd7d;
        border-bottom: 3px solid #01bd7d;
        border-top-right-radius: 1%;
        border-bottom-right-radius: 1%;
        padding-bottom: 10px;
    }

    @keyframes openChat {
        0% {
            left: calc(-100% + 49%);
        }

        100% {
            left: 0px;
        }
    }

    @keyframes closeChat {
        0% {
            left: 0px;
        }

        100% {
            left: calc(-100% + 49%);
        }
    }

}

@media (max-width:800px) {
    div.chatContainer {
        height: calc(100% - 110px);
        width: calc(100% - 50%);
        position: fixed;
        bottom: 4%;
        left: calc(-100% + 49%);
        background: rgba(0, 0, 0, 0.6);
        border-top: 3px solid #01bd7d;
        border-right: 3px solid #01bd7d;
        border-bottom: 3px solid #01bd7d;
        border-top-right-radius: 1%;
        border-bottom-right-radius: 1%;
        padding-bottom: 10px;
    }

    @keyframes openChat {
        0% {
            left: calc(-100% + 49%);
        }

        100% {
            left: 0px;
        }
    }

    @keyframes closeChat {
        0% {
            left: 0px;
        }

        100% {
            left: calc(-100% + 49%);
        }
    }

}


@media (max-height:800px) {
    div.chatContainer {
        height: calc(100% - 110px);
        width: calc(100% - 60%);
        position: fixed;
        bottom: 4%;
        left: calc(-100% + 59.5%);
        background: rgba(0, 0, 0, 0.6);
        border-top: 3px solid #01bd7d;
        border-right: 3px solid #01bd7d;
        border-bottom: 3px solid #01bd7d;
        border-top-right-radius: 1%;
        border-bottom-right-radius: 1%;
        padding-bottom: 10px;
    }

    @keyframes openChat {
        0% {
            left: calc(-100% + 59.5%);
        }

        100% {
            left: 0px;
        }
    }

    @keyframes closeChat {
        0% {
            left: 0px;
        }

        100% {
            left: calc(-100% + 59.5%);
        }
    }

}