div .mainWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 15px
}

div .mainWrapper video {
    height: 100%;
    width: 100%;
    background-size: cover;
}