div.Canvas canvas{
   position: absolute;
   width:600px;
   height: 400px;
   top: 43px;
   left: 15px;
   border: 2px solid #01bd7d;
   border-radius: 15px;
}

div.Settings{
    position: absolute;
    height: 400px;
    width: 300px;
    right: 30px;
    top: 40px
}

