// This is an example of the content of the env file with all the variables needed by the server with mail sending function.

// Keys for the autehtification
KEY_1=1111111111111111111
KEY_2=2222222222222222222
KEY_3=3333333333333333333

// Login data fer mail address
PASSWORD=password of email adresss
USER=user name of the email adress
HOST=email host

// Emitter, reciever and content of the email  
EMITTER= your email adress
RECIEVER=email reciever
SUBJECT=Server Restart
TEXT_1=The server has been restartet and the new access code as a client is:
TEXT_2=and as an admin:
