.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;
    background: linear-gradient(270deg, #00ffa8, #01bd7d);
}

.navbar h1 {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
}

.navbar h2 {
    display: inline-block;
    color: #c33535;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.navMenu {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 100%;
}

.navMenuLaser {
    position: absolute;
    top: -18px;
    right: calc(100% / 2.5);
    height: 100%;
}

.navMenuLaser h3 {
    display: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navMenuLaser button {
    margin-left: 5px;
    padding-left: 0px;
    height: 100%;
    top: -45px;
    left: 100%;
    align-items: center;

}

.navMenu ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.navMenu li {
    display: block;
    float: right;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}

.navMenu li:hover {
    background: darkgreen;
    color: #00ffa8
}

.navRow {
    float: left;
}

.mobile {
    visibility: hidden;
}

@media (min-width:0px) and (max-width:576px) {
    .mobile {
        visibility: visible;
        position: absolute;
        top: 0px;
        right: 5px;
        height: 10px;
    }

    .navMenu {
        visibility: hidden;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .mobile {
        visibility: visible;
        position: absolute;
        top: 0px;
        right: 10px;
        height: 10px;
    }

    .navMenu {
        visibility: hidden;
    }
}

@media (min-width:769px) and (max-width:992px) {
    .mobile {
        visibility: visible;
        position: absolute;
        top: 0px;
        right: 10px;
        height: 10px;
    }

    .navMenu {
        visibility: hidden;
    }
}