div.Canvas canvas {
  visibility: visible;
  position: absolute;
  object-fit: scale-down;
}

div.Settings {
  visibility: visible;
  position: absolute;
  height: 400px;
  width: 300px;
  right: 30px;
  top: 25px;
}

div.Cam {
  position: absolute;
  height: 400px;
  width: 300px;
  right: 30px;
  top: 25px;
}

div.Settings button {
  position: absolute;
  left: 92%;
  top: 3px;
}

div.SettingsContainer {
  visibility: visible;
  position: absolute;
  height: 400px;
  width: 300px;
  right: 30px;
  top: 25px;
}


@media (min-width: 0px) and (max-width: 576px) {
  div.SettingsContainer {
    visibility: visible;
    position: absolute;
    height: 250px;
    width: 300px;
    right: 30px;
    top: 15px;
    }
}
/*
@media (min-width: 576px) and (max-width: 768px) {
  div.Settings {
    visibility: hidden;
  }

  div.Canvas canvas {
    top: 15px;
    left: -165px;
    width: 465px;
    height: 310px;
    visibility: visible;
    position: absolute;
    border: 2px solid #01bd7d;
    border-radius: 15px;
    object-fit: contain;
    object-fit: scale-down;
  }
}
*/
@media (min-width: 577px) and (max-width: 992px) {
  div.SettingsContainer {
  visibility: visible;
  position: absolute;
  height: 250px;
  width: 300px;
  right: 30px;
  top: 15px;
  }
}
