div.Canvas canvas{
    position: absolute;
     top: 15px;
    left: -655px;
    border: 2px solid #01bd7d;
    border-radius: 15px;
 }

 div.Settings{
    position: absolute;
    height: 400px;
    width: 300px;
    right: 30px;
    top: 25px
}

div.Cam{
    position: absolute;
    height: 400px;
    width: 300px;
    right: 30px;
    top: 25px
}

div.Settings button{
    position: absolute;
    left:92%;
    top: 3px;
}
