.navbar {
    width:100vw;
    height:30px;
    background: linear-gradient(270deg, #00ffa8, #01bd7d );
}

.navbar h1 {
    display:inline-block;
    color:white;
    font-weight:bold;
    font-size:20px;
    margin:0;
    margin-top:5px;
    margin-left:20px;
}