.OuterChater {
    background-color: rgb(55, 55, 58);
    width: 1900px;
    height: 895px;
}


.Chat {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border: 1px solid rgb(55, 55, 58);
    border-width: 2px;
    border-radius: 10px;
    background: rgb(255, 255, 255, .2);


    width: 500px;
    height: 800px;

    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2px;

    overflow-y: scroll;
    scrollbar-color: grey rgb(255, 255, 255);
    scrollbar-width: auto;


}

.Messages {
    width: 470px;
    height: 745px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.Messages b {
    font-size: 16px;
    display: flex;
}

.Chat form {
    position: fixed;
    bottom: 25px;
    left: 10px;


}

.Chat input {
    width: 390px;
    border-radius: 10px;

}

.Chat button {
    border-radius: 10px;
    width: 75px;
    left: 10px;
}

.Chat ul {
    position: fixed;
    right: 394px;
    top: 114px;
    display: flex;

}

.Chat ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    background: rgb(107, 16, 16, .4);
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
}

.Chat ul li:hover {
    background: rgb(107, 16, 16);
    ;
}

.Chat ul li span {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    transition: .5s;
}

.Chat ul li.ChatOn span {
    top: 50%;
    right: 20%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
}

.Chat ul li.ChatOn:hover span {
    right: 16%;
}

.Chat ul li.ChatOn span:before {
    content: '';
    position: absolute;
    top: 5px;


    width: 25px;
    height: 2px;
    background-color: #fff;
    transform-origin: right;
    transform: rotate(45deg) translate(-4px, 4px) scale(0);
    transition: .3s;
}

.Chat ul li.ChatOn:hover span:before {
    transform: rotate(45deg) translate(-4px, 5px) scaleX(1);
}


.Chat ul li.ChatOff span {
    top: 50%;
    left: 20%;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
}

.Chat ul li.ChatOff:hover span {
    left: 16%;
}

.Chat ul li.ChatOff span:before {
    content: '';
    position: absolute;
    top: 5px;

    width: 25px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transform: rotate(45deg) translate(-4px, 4px) scale(0);
    transition: .3s;
}

.Chat ul li.ChatOff:hover span:before {
    transform: rotate(45deg) translate(-4px, 5px) scaleX(1);
}