.Console{
    background-color: rgb(55, 55, 58, .2);
    width: 1020px;
    height: 250px;

    position: fixed;
    right: 0px;
    bottom:0px;
    display: flex;

    overflow-y: scroll;
    scrollbar-color: grey rgb(255, 255, 255);
    scrollbar-width: auto;
    transition: 0.5s;

    
}

.Console input{
    width: 990px;
    height: 30px;

    position: fixed;
    right: 20px;
    bottom:0px;
    display: flex;
}
.Buttons ul {
    position: fixed;
    left: 454px;
    top: 65px;
    display: flex;
}

.Buttons ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgb(107, 16, 16, .4);
    margin: 0 100px;
    border-radius: 20%;
    transition: .5s;
}

.Buttons ul li.ConsoleOn {
    position: fixed;
    right: -100px;
    bottom:0px;
    display: none;
}

.Buttons ul li.ConsoleOff {
    position: fixed;
    right: -80px;
    bottom:210px;
    display: flex;
}

.Buttons ul li:hover {
    background: rgb(107, 16, 16);
}

.Buttons ul li span {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    transition: .5s;

}

.Buttons ul li.ConsoleOn span {
    top: 25px;
    right: 10px;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-bottom: none;

}

.Buttons ul li.ConsoleOff span {
    bottom: 10px;
    right: 10px;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-top: none;
}

.Buttons ul li.ConsoleOn:hover span {
    top: 50%;
}

.Buttons ul li.ConsoleOff:hover span {
    top: 50%;
}




